In [1]:
import pandas as pd

In [2]:
married = pd.read_csv('married_first_sight.csv')

In [7]:
pd.crosstab(married['Location'], married['Name'])

Name,AJ Vollmoeller,Amber Bowles,Amber Martorana,Anthony D'Amico,Ashley Doherty,Ashley Petta,Austin Hurd,Bobby Dodd,Brandon Reid,Cody Knapek,...,Sonia Granados,Stephanie Sersen,Taylor Dunklin,Tom Wilson,Tres Russell,Tristan Thompson,Vanessa Nelson,Vaughn Copeland,Will Guess,Zach Justice
Location,,,,,,,,,,,,,,,,,,,,,
"Atlanta, Georgia",0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,0
"Boston, Massachusetts",0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
"Charlotte, North Carolina",0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
"Chicago, Illinois",0,0,0,1,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
"Dallas, Texas",0,0,1,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
New York City and Northern New Jersey,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
"Philadelphia, Pennsylvania",1,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
South Florida,0,0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
Washington D.C.,0,0,0,0,0,0,1,0,1,0,...,0,0,1,0,0,0,0,0,0,1